@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

:root {
    --grey-bgcolor: rgba(245, 247, 250, 1);
    --green-color: #4CAF4F;
}

.wrapper {
    padding: 0 144px;
}

.button {
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
}

.h1heading {
    color: #4D4D4D;
    font-weight: 600;
    font-size: 60px;
}

.h2heading {
    color: rgba(77, 77, 77, 1);
    font-weight: 600;
    font-size: 36px;
}

.h3heading {
    font-size: 28px;
    font-weight: 700;
    color: rgba(77, 77, 77, 1);
}

.ptexts {
    color: rgba(113, 113, 113, 1);
    font-size: 16px;
    font-weight: 400;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--grey-bgcolor);
    min-height: 84px;
}

nav .logo {
    cursor: pointer;
}

.ul-list ul {
    display: flex;
    list-style: none;
    gap: 50px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.ul-list a {
    text-decoration: none;
    color: #18191F;
}

.nav-buttons {
    display: flex;
    gap: 14px;
}

.nav-buttons button {
    padding: 10px 20px;
}

.nav-buttons button:last-child {
    background-color: var(--green-color);
    color: rgb(255, 255, 255);
}

.nav-buttons button:first-child {
    color: var(--green-color)
}

.hero-section {
    display: flex;
    padding-top: 96px;
    padding-bottom: 96px;
    justify-content: space-between;
}

.hero-section-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px
}

.hero-section-left button {
    align-self: flex-start;
    background-color: var(--green-color);
    color: rgb(255, 255, 255);
}

.hero-section-left button {
    border-radius: 4px;
    padding: 14px 32px;
}

.client-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.client-section-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.client-section-top p {
    text-align: center;
}

.client-section-bottom {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.community-section {
    text-align: center;
}

.community-section p {
    margin-top: 8px;
}

.membershiptype-section {
    display: flex;
    gap: 127px;
    margin-top: 16px;
}

.membershiptype-items {
    text-align: center;
    box-shadow: 0px 2px 4px rgba(171, 190, 209, 0.2);
    width: 33%;
}

.membershiptype-items h2 {
    margin-top: 16px;
    font-weight: 700;
    font-size: 28px;
}

.membershiptype-items p {
    margin-top: 8px;
    font-size: 14px;
}

.community-section {
    font-size: 28px;
    font-weight: 700;
}

.history-section {
    display: flex;
    margin-top: 42px;
}

.history-section-right button {
    border-radius: 4px;
    background-color: var(--green-color);
    padding: 14px 32px;
    color: rgb(255, 255, 255);
    align-self: self-start;
    margin-top: 32px;
}

.history-section-right p {
    font-size: 14px;
    margin-top: 16px;
}

.history-section-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.achievments-section {
    display: flex;
    justify-content: space-between;
    background-color: var(--grey-bgcolor);
    margin-top: 48px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.achievments-section-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 40px;
}

.grid-items {
    display: flex;
    align-items: center;
}

.unlock-section {
    display: flex;
}

.unlock-section-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.unlock-section-right button {
    align-self: flex-start;
    background-color: var(--green-color);
    color: rgb(255, 255, 255);
    padding: 14px 32px;
    border-radius: 4px;
    margin-top: 32px;
}

.unlock-section-right p {
    margin-top: 16px;
    font-size: 14px;
}

.customer-section {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--grey-bgcolor);
}

.customer-section-right-bottom-others {
    display: flex;
    align-self: last baseline;
}

.customer-section-right-bottom-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.icons-only {
    display: flex;
    gap: 20%;
}

.customer-section-right-bottom-icons img {
    margin-left: 8px;
    width: 24px;
    height: 24px;
}

.customer-section-right-top :first-child {
    font-weight: 500;
}

.customer-section-right-top :nth-child(2) {
    font-weight: 500;
    margin-top: 16px;
}

.customer-section-right-top :last-child {
    font-weight: 400;
    font-size: 16px;
    color: rgba(137, 147, 158, 1);
    margin-top: 8px;
}

.customer-section-headings {
    font-weight: 600;
    font-size: 20px;
    color: var(--green-color);
}

.customer-section-left img {
    width: 326px;
    height: 326px;
}

.main-container {
    display: flex;
    height: auto;
    justify-content: space-between;
    margin-top: 16px;
}

.image-container {
    width: 30%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 8px;
}

.image-container-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin: 10% 12%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.image-container-text h4 {
    margin: 0;
    color: rgba(113, 113, 113, 1);
    font-weight: 600;
}

.image-container-text-arrow h4 {
    color: #4CAF4F;
}

.image-container-text-arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.demo-section {
    text-align: center;
    margin-top: 174px;
    background-color: var(--grey-bgcolor);
}

.demo-section button {
    background-color: var(--green-color);
    color: rgb(255, 255, 255);
    padding: 14px 32px;
    border-radius: 4px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.demo-section h1 {
    font-size: 64px;
    color: rgba(38, 50, 56, 1);
}

.footer-section {
    background-color: #263238;
    display: flex;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer-section-right {
    display: flex;
    width: 80%;
    gap: 30px;
    justify-content: end;
}

.footer-section-left {
    width: 30%;
}

.round-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.social-media-icons {
    display: flex;
    gap: 16px;
    margin-top: 40px;
}

.footer-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-section a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: rgba(245, 247, 250, 1);
}

.footer-section-right h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.footer-p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #F5F7FA;
}

.footer-section-right li {
    margin-bottom: 12px;
}

.footer-list-items :first-child {
    margin-top: 24px;
}

.footer-section-newsletter input {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    width: 100%;
    height: 40px;
    color: #FFFFFF;
    border: none;
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
}

#copyright {
    margin-top: 40px;
}

#right-reserved {
    margin-top: 8px;
}

@media (max-width: 1200px) {
    .customer-section {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 980px) {
    .ul-list ul {
        gap: 15px;
    }

    .hero-section {
        flex-wrap: wrap;
        justify-content: center;
    }

    .membershiptype-section {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 10px;
    }

    .history-section {
        flex-wrap: wrap;
        justify-content: center;
    }

    .achievments-section-right {
        grid-template-columns: repeat(1, 1fr);
    }

    .achievments-section-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .unlock-section {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .image-container {
        width: 45%;
    }

    .footer-section {
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .footer-section-right {
        flex-wrap: wrap;
        justify-content: space-between;
        flex-grow: 1;
    }
}

@media (max-width: 900px) {
    .image-container {
        width: 60%;
    }
}

@media (max-width: 768px) {
    nav {
        flex-wrap: wrap;
        gap: 20px;
    }

    .logo {
        order: 1;
    }

    .ul-list {
        order: 3;
    }

    .nav-buttons {
        order: 2;
    }

    .client-section-bottom {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }

    .customer-section-right-bottom-icons {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .customer-section-right-bottom-icons img {
        width: 40px;
        height: 40px;
    }

    .customer-section-right-bottom-others img {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 640px) {
    .wrapper {
        padding: 0 10px;
    }

    .hero-section-right {
        margin-top: 40px;
    }

    .membershiptype-items {
        width: 100%;
    }

    .history-section-right h2 {
        font-size: 30px;
    }

    .achievments-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .achievments-section-left {
        text-align: center;
    }

    .achievments-section-right {
        grid-template-columns: repeat(2, 1fr);
    }

    .customer-section-right-bottom-icons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .customer-section-right-bottom-others {
        grid-column: span 2;
    }
}

@media (max-width: 480px) {
    .ul-list {
        display: none;
    }

    .wrapper {
        padding: 0 10px;
    }

    .hero-section-right img {
        width: 300px;
        height: 300px;
    }

    .hero-section-left h1 {
        font-size: 30px;
    }

    .h2heading {
        font-size: 20px;
    }

    .ptexts {
        font-size: 10px;
    }

    .history-section img {
        width: 300px;
        height: 300px;
    }

    .achievments-section-right {
        grid-template-columns: repeat(1, 1fr);
    }

    .unlock-section-left img {
        width: 300px;
        height: 300px;
    }

    .customer-section-left img {
        width: 300px;
        height: 300px;
    }

    .customer-section-right-bottom-others {
        align-items: center;
    }

    .customer-section-right-bottom-others h4 {
        font-size: 10px;
    }

    .customer-section-right-bottom-others img {
        width: 10px;
        height: 10px;
    }

    .image-container {
        width: 80%;
    }

    .main-container {
        row-gap: 20px;
    }

    .demo-section h1 {
        font-size: 30px;
    }
}

@media (max-width: 360px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .image-container {
        width: 100%;
    }
}
